@default: #E30611;
@hover: #C7050E;
@active: #AC040C;
@focus: #920007;
@disable: #E2E5EB;

@font-face {
    font-family: 'MTSSanc';
    src: url('../fonts/MTSSans.05otf_07.06.2019/MTSSans-Medium.otf');
}

body {
    margin: 0;
    font-family: Roboto;

    & div {
        transition: all 0.8s;
    }
    & input, & a, & button {
        outline: none;
        border: 0;
        text-decoration: none;
    }
}
.container {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}
.menu {
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 0;

    .active {
        background-color: #e2e5eb !important;
    }
}
.menu-elem {
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: #f3f6fb;
    }

    span {
        font-size: 20px;
        display: block;
        text-align: center;
        padding: 20px;
        color: #000000;
    }
}
.content {
    width: 75%;
}
.name {
    display: flex;
    justify-content: flex-start; 
    margin: 0 0 50px 0;
}
.names {
    color: #000000;
    font-family: Roboto;
    font-size: 24px;
    line-height: 29px;
}
.buttons {
    height: 100vh;
    margin: 0 0 30px 0;
    padding: 30px 0 0 0;

    .names {
        width: 33%;
    }

    .blocks {
        width: 33%;
    }
}
.block {
    display: flex;
    margin: 0 0 40px 0;
}

.btn {
    border-radius: 4px;
    font-family: 'MTSSanc';  
    font-size: 16px; 
    font-weight: 500;    
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: @default;
    height: 88px;
    width: 300px;

    &:hover {
        background-color: @hover;
    }

    &:active {
        background-color: @active;
    }
    &:focus {
        box-shadow: 0 0 0 4px rgba(227, 6, 17, 0.24);
    }
    &:disabled {
        background-color: @disable;
        color: #BBC1C7;
        cursor: default;
    }
}
a[disabled="disabled"] {
    background-color: @disable;
    color: #BBC1C7;
    cursor: default;
    pointer-events: none;
}

.inputs {
    height: 100vh;
    margin: 0 0 30px 0;
    padding: 30px 0 0 0;

    .names {
        width: 50%;
    }
    .blocks {
        width: 50%;
    }
    .names:last-child {
        transform: translateX(100px);
        font-family: CorpidE3SCd;
    }
    .names:first-child {
        text-align: center;
    }
    .block .blocks:last-child .inp {
        font-family: CorpidE3SCd;
    } 
    .block .blocks:first-child .inp {
        display: block;
        margin: auto;
    } 

}
.inp {
    background-color: #FFFFFF;
    border: 2px solid #E2E5EB;
    border-radius: 4px;
    width: 356px;
    height: 44px;
    padding: 10px 16px;
    box-sizing: border-box;
    color: #001424;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    
    &::-webkit-input-placeholder {
        color: #BBC1C7;
    }

    &:hover {
        border-color: #0097FD;
        color: #0097FD;
    }

    &:active {
        border-color: #007CFF;
        color: #007CFF;
    }

    &:focus {
        box-shadow: 0 0 0 4px rgba(227, 6, 17, 0.24);
    }

    &:disabled {
        background-color: @disable;
        color: #BBC1C7;
        cursor: default;
        pointer-events: none;
    }
}